In [1]:
import pandas as pd
import numpy as np
from scipy.stats import lognorm
from tqdm import tqdm_notebook

In [2]:
!ls ../data

case_distribution.csv   case_distribution_2.csv case_distribution_3.csv

## Functions

In [3]:
def muTransform(zMedian):
    return np.log(zMedian)

In [4]:
def sigmaTransform(zMean, mu):
    return np.sqrt(2*(np.log(zMean)-mu))

In [5]:
def plnorm(x, mu, sigma):
    shape  = sigma
    loc    = 0
    scale  = np.exp(mu)
    return lognorm.cdf(x, shape, loc, scale)

In [6]:
def hospitalisation_to_death_truncated(x,mu,sigma):
    return plnorm(x + 1, mu, sigma) - plnorm(x, mu, sigma)

def hospitalisation_to_death_truncated_low(x):
    return hospitalisation_to_death_truncated(x,muLow, sigmaLow)

def hospitalisation_to_death_truncated_mid(x):
    return hospitalisation_to_death_truncated(x,muMid, sigmaMid)

def hospitalisation_to_death_truncated_high(x):
    return hospitalisation_to_death_truncated(x,muHigh, sigmaHigh)

## Parameters

In [7]:
# setting the baseline CFR
cCFRBaseline = 1.4
cCFREstimateRange = (1.2, 1.7)
# lower end of the range
zmeanLow = 8.7
zmedianLow = 6.7
# middle of the range
zmeanMid = 13
zmedianMid = 9.1
# upper end of the range
zmeanHigh = 20.9
zmedianHigh = 13.7

In [8]:
muLow=muTransform(zmedianLow)
sigmaLow = sigmaTransform(zmeanLow, muLow)

In [9]:
muMid = muTransform(zmedianMid)
sigmaMid = sigmaTransform(zmeanMid, muMid)

In [10]:
muHigh = muTransform(zmedianHigh)
sigmaHigh = sigmaTransform(zmeanHigh, muHigh)

In [11]:
muLow, muMid, muHigh

(1.9021075263969205, 2.2082744135228043, 2.617395832834079)

In [12]:
sigmaLow, sigmaMid, sigmaHigh

(0.7227938838474179, 0.8446004309005916, 0.9190792415637358)

## Clean Dataset

In [13]:
dataset = pd.read_csv('../data/case_distribution_3.csv')
dataset.tail()

,dateRep,day,month,year,cases,deaths,countriesAndTerritories,geoId,countryterritoryCode,popData2018
10942,25/03/2020,25,3,2020,0,0,Zimbabwe,ZW,ZWE,14439018.0
10943,24/03/2020,24,3,2020,0,1,Zimbabwe,ZW,ZWE,14439018.0
10944,23/03/2020,23,3,2020,0,0,Zimbabwe,ZW,ZWE,14439018.0
10945,22/03/2020,22,3,2020,1,0,Zimbabwe,ZW,ZWE,14439018.0
10946,21/03/2020,21,3,2020,1,0,Zimbabwe,ZW,ZWE,14439018.0

In [14]:
dataset.rename(columns = {
    "dateRep": "date",
    "cases": "new_cases",
    "deaths": "new_deaths",
    "countriesAndTerritories": "country"
},inplace=True)
allTogetherClean = dataset[['date', 'country', 'new_cases', 'new_deaths']]

In [15]:
## Exclude some countries
exclude_coutries = ['Canada','Cases_on_an_international_conveyance_Japan']
allTogetherClean = allTogetherClean[~allTogetherClean.country.isin(exclude_coutries)]
allTogetherClean.tail()

             date   country  new_cases  new_deaths
10942  25/03/2020  Zimbabwe          0           0
10943  24/03/2020  Zimbabwe          0           1
10944  23/03/2020  Zimbabwe          0           0
10945  22/03/2020  Zimbabwe          1           0
10946  21/03/2020  Zimbabwe          1           0

In [16]:
## Remove lower data points
threshold = 10
list_filtered_countried = allTogetherClean.groupby('country').filter(lambda x: x['new_deaths'].sum()>threshold)['country'].unique()

In [17]:
allTogetherClean = allTogetherClean[allTogetherClean.country.isin(list_filtered_countried)].reset_index(drop=True)
allTogetherClean.tail()

            date   country  new_cases  new_deaths
9488  25/03/2020  Zimbabwe          0           0
9489  24/03/2020  Zimbabwe          0           1
9490  23/03/2020  Zimbabwe          0           0
9491  22/03/2020  Zimbabwe          1           0
9492  21/03/2020  Zimbabwe          1           0

## Calculate UnderReporting

In [18]:
allTogetherClean.head(3)

         date      country  new_cases  new_deaths
0  15/04/2020  Afghanistan         49           2
1  14/04/2020  Afghanistan         58           3
2  13/04/2020  Afghanistan         52           0

$$u_{t}=\frac{\sum_{j=0}^{t}c_{t-j}f_{j}}{c_{t}}$$

where:  
$u_{t}$ = underestimation of the proportion of cases with known outcomes  
$c_{t}$ = daily case incidence at time t  
$f_{t}$ = proportion of cases with delay of t between confirmation and death

In [125]:
def calculate_underestimate(country, delay_func):
    df = allTogetherClean[allTogetherClean.country==country].iloc[::-1].reset_index(drop=True)
    cumulative_known_t = 0
    for ii in range(0,len(df)):
        #print("ii",ii)
        known_i = 0
        for jj in range(0,ii+1):
            #print("jj",jj)
            known_jj = df['new_cases'].loc[ii-jj]*delay_func(jj)
            known_i = known_i + known_jj
        cumulative_known_t = cumulative_known_t + known_i
        #print("-"*30)
    cum_known_t = round(cumulative_known_t)
    # naive CFR value
    nCFR = df['new_deaths'].sum()/df['new_cases'].sum()
    # corrected CFR estimator
    cCFR = df['new_deaths'].sum()/cum_known_t
    total_deaths = df['new_deaths'].sum()
    total_cases = df['new_cases'].sum()
    return nCFR, cCFR, total_deaths, cum_known_t, total_cases

In [126]:
calculate_underestimate("Albania", hospitalisation_to_death_truncated_low)

(0.05052631578947368, 0.06722689075630252, 24, 357.0, 475)

In [127]:
calculate_underestimate("Afghanistan", hospitalisation_to_death_truncated_low)

(0.03221288515406162, 0.059431524547803614, 23, 387.0, 714)

In [128]:
calculate_underestimate("Argentina", hospitalisation_to_death_truncated_low)

(0.04317434210526316, 0.0644963144963145, 105, 1628.0, 2432)

In [129]:
calculate_underestimate("Brazil", hospitalisation_to_death_truncated_low)

(0.06064444620378434, 0.1072078376487054, 1532, 14290.0, 25262)

In [130]:
def return_complete_df(dataframe, delay_func):
    all_countries = allTogetherClean['country'].unique()
    new_df = pd.DataFrame(columns = [
        'country','nCFR', 'cCFR', 'total_deaths', 'cum_known_t', 'total_cases'])
    for c in tqdm_notebook(all_countries):
        nCFR, cCFR, total_deaths, cum_known_t, total_cases = calculate_underestimate(c,delay_func)
        new_row = {'country':c}
        new_df = new_df.append({'country':c,
                       'nCFR':nCFR,
                       'cCFR': cCFR,
                       'total_deaths': total_deaths,
                       'cum_known_t': int(cum_known_t),
                       'total_cases': total_cases
                      }, ignore_index=True)
    return new_df

In [131]:
allTogetherLow = return_complete_df(allTogetherClean, hospitalisation_to_death_truncated_low)
allTogetherMid = return_complete_df(allTogetherClean, hospitalisation_to_death_truncated_mid)
allTogetherHigh = return_complete_df(allTogetherClean, hospitalisation_to_death_truncated_high)

HBox(children=(IntProgress(value=0, max=161), HTML(value='')))

HBox(children=(IntProgress(value=0, max=161), HTML(value='')))

HBox(children=(IntProgress(value=0, max=161), HTML(value='')))

In [132]:
allTogetherLow

,country,nCFR,cCFR,total_deaths,cum_known_t,total_cases
0,Afghanistan,0.032213,0.059432,23,387,714
1,Albania,0.050526,0.067227,24,357,475
2,Algeria,0.157488,0.236403,326,1379,2070
3,Andorra,0.047041,0.060904,31,509,659
4,Angola,0.105263,0.133333,2,15,19
5,Antigua_and_Barbuda,0.086957,0.125000,2,16,23
6,Argentina,0.043174,0.064496,105,1628,2432
7,Armenia,0.015302,0.021277,17,799,1111
8,Australia,0.009507,0.011029,61,5531,6416
9,Austria,0.026978,0.032220,384,11918,14234
10,Azerbaijan,0.010860,0.017857,13,728,1197
11,Bahamas,0.163265,0.235294,8,34,49
12,Bahrain,0.004581,0.008505,7,823,1528
13,Bangladesh,0.045455,0.167273,46,275,1012
14,Barbados,0.068493,0.089286,5,56,73
15,Belarus,0.010058,0.026939,33,1225,3281
16,Belgium,0.133584,0.194753,4157,21345,31119
17,Belize,0.111111,0.250000,2,8,18
18,Benin,0.028571,0.041667,1,24,35
19,Bermuda,0.087719,0.125000,5,40,57
20,Bolivia,0.070529,0.127854,28,219,397
21,Bosnia_and_Herzegovina,0.036347,0.053719,39,726,1073
22,Botswana,0.076923,0.125000,1,8,13
23,Brazil,0.060644,0.107208,1532,14290,25262
24,Brunei_Darussalam,0.007353,0.007692,1,130,136
25,Bulgaria,0.049088,0.064457,35,543,713
26,Burkina_Faso,0.056818,0.080863,30,371,528
27,Burundi,0.200000,0.333333,1,3,5
28,Cameroon,0.019883,0.028053,17,606,855
29,Cape_Verde,0.090909,0.142857,1,7,11
...,...,...,...,...,...,...
131,Slovakia,0.002395,0.003484,2,574,835
132,Slovenia,0.045902,0.055500,56,1009,1220
133,Somalia,0.033333,0.166667,2,12,60
134,South_Africa,0.011180,0.015808,27,1708,2415
135,South_Korea,0.021244,0.022111,225,10176,10591
136,Spain,0.104648,0.136561,18056,132219,172541
137,Sri_Lanka,0.030043,0.040698,7,172,233
138,Sudan,0.156250,0.384615,5,13,32
139,Suriname,0.100000,0.111111,1,9,10
140,Sweden,0.090258,0.134645,1033,7672,11445
141,Switzerland,0.034947,0.043110,900,20877,25753
142,Syria,0.068966,0.111111,2,18,29
143,Taiwan,0.015190,0.016997,6,353,395
144,Thailand,0.016269,0.019788,43,2173,2643
145,Togo,0.038961,0.051724,3,58,77
146,Trinidad_and_Tobago,0.070796,0.080000,8,100,113
147,Tunisia,0.045515,0.061818,34,550,747
148,Turkey,0.021548,0.040209,1403,34893,65111
149,Turks_and_Caicos_islands,0.100000,0.142857,1,7,10
150,Ukraine,0.029063,0.060382,98,1623,3372
151,United_Arab_Emirates,0.005676,0.011537,28,2427,4933
152,United_Kingdom,0.128972,0.219314,12107,55204,93873
153,United_Republic_of_Tanzania,0.056604,0.120000,3,25,53
154,United_States_of_America,0.042750,0.067546,26057,385768,609516
155,United_States_Virgin_Islands,0.019608,0.024390,1,41,51
156,Uruguay,0.015009,0.019093,8,419,533
157,Uzbekistan,0.003433,0.008032,4,498,1165
158,Venezuela,0.046632,0.058065,9,155,193
159,Zambia,0.044444,0.055556,2,36,45
160,Zimbabwe,0.176471,0.300000,3,10,17

In [133]:
allTogetherMid

,country,nCFR,cCFR,total_deaths,cum_known_t,total_cases
0,Afghanistan,0.032213,0.073718,23,312,714
1,Albania,0.050526,0.078947,24,304,475
2,Algeria,0.157488,0.289007,326,1128,2070
3,Andorra,0.047041,0.071429,31,434,659
4,Angola,0.105263,0.166667,2,12,19
5,Antigua_and_Barbuda,0.086957,0.153846,2,13,23
6,Argentina,0.043174,0.077206,105,1360,2432
7,Armenia,0.015302,0.025074,17,678,1111
8,Australia,0.009507,0.012663,61,4817,6416
9,Austria,0.026978,0.036998,384,10379,14234
10,Azerbaijan,0.010860,0.022222,13,585,1197
11,Bahamas,0.163265,0.285714,8,28,49
12,Bahrain,0.004581,0.009887,7,708,1528
13,Bangladesh,0.045455,0.220096,46,209,1012
14,Barbados,0.068493,0.106383,5,47,73
15,Belarus,0.010058,0.035676,33,925,3281
16,Belgium,0.133584,0.234435,4157,17732,31119
17,Belize,0.111111,0.333333,2,6,18
18,Benin,0.028571,0.050000,1,20,35
19,Bermuda,0.087719,0.147059,5,34,57
20,Bolivia,0.070529,0.156425,28,179,397
21,Bosnia_and_Herzegovina,0.036347,0.064892,39,601,1073
22,Botswana,0.076923,0.166667,1,6,13
23,Brazil,0.060644,0.133461,1532,11479,25262
24,Brunei_Darussalam,0.007353,0.008403,1,119,136
25,Bulgaria,0.049088,0.075107,35,466,713
26,Burkina_Faso,0.056818,0.096774,30,310,528
27,Burundi,0.200000,0.500000,1,2,5
28,Cameroon,0.019883,0.034765,17,489,855
29,Cape_Verde,0.090909,0.166667,1,6,11
...,...,...,...,...,...,...
131,Slovakia,0.002395,0.004124,2,485,835
132,Slovenia,0.045902,0.063492,56,882,1220
133,Somalia,0.033333,0.222222,2,9,60
134,South_Africa,0.011180,0.018443,27,1464,2415
135,South_Korea,0.021244,0.023213,225,9693,10591
136,Spain,0.104648,0.160636,18056,112403,172541
137,Sri_Lanka,0.030043,0.046667,7,150,233
138,Sudan,0.156250,0.454545,5,11,32
139,Suriname,0.100000,0.125000,1,8,10
140,Sweden,0.090258,0.160778,1033,6425,11445
141,Switzerland,0.034947,0.049889,900,18040,25753
142,Syria,0.068966,0.133333,2,15,29
143,Taiwan,0.015190,0.018987,6,316,395
144,Thailand,0.016269,0.022946,43,1874,2643
145,Togo,0.038961,0.061224,3,49,77
146,Trinidad_and_Tobago,0.070796,0.090909,8,88,113
147,Tunisia,0.045515,0.073753,34,461,747
148,Turkey,0.021548,0.050608,1403,27723,65111
149,Turks_and_Caicos_islands,0.100000,0.166667,1,6,10
150,Ukraine,0.029063,0.076324,98,1284,3372
151,United_Arab_Emirates,0.005676,0.014644,28,1912,4933
152,United_Kingdom,0.128972,0.270095,12107,44825,93873
153,United_Republic_of_Tanzania,0.056604,0.142857,3,21,53
154,United_States_of_America,0.042750,0.082864,26057,314455,609516
155,United_States_Virgin_Islands,0.019608,0.028571,1,35,51
156,Uruguay,0.015009,0.022039,8,363,533
157,Uzbekistan,0.003433,0.010152,4,394,1165
158,Venezuela,0.046632,0.066176,9,136,193
159,Zambia,0.044444,0.062500,2,32,45
160,Zimbabwe,0.176471,0.333333,3,9,17

In [134]:
allTogetherHigh

,country,nCFR,cCFR,total_deaths,cum_known_t,total_cases
0,Afghanistan,0.032213,0.103139,23,223,714
1,Albania,0.050526,0.101695,24,236,475
2,Algeria,0.157488,0.394196,326,827,2070
3,Andorra,0.047041,0.092537,31,335,659
4,Angola,0.105263,0.222222,2,9,19
5,Antigua_and_Barbuda,0.086957,0.222222,2,9,23
6,Argentina,0.043174,0.102539,105,1024,2432
7,Armenia,0.015302,0.032567,17,522,1111
8,Australia,0.009507,0.015960,61,3822,6416
9,Austria,0.026978,0.046602,384,8240,14234
10,Azerbaijan,0.010860,0.031026,13,419,1197
11,Bahamas,0.163265,0.400000,8,20,49
12,Bahrain,0.004581,0.012545,7,558,1528
13,Bangladesh,0.045455,0.338235,46,136,1012
14,Barbados,0.068493,0.138889,5,36,73
15,Belarus,0.010058,0.054726,33,603,3281
16,Belgium,0.133584,0.313334,4157,13267,31119
17,Belize,0.111111,0.500000,2,4,18
18,Benin,0.028571,0.071429,1,14,35
19,Bermuda,0.087719,0.200000,5,25,57
20,Bolivia,0.070529,0.213740,28,131,397
21,Bosnia_and_Herzegovina,0.036347,0.087248,39,447,1073
22,Botswana,0.076923,0.250000,1,4,13
23,Brazil,0.060644,0.186511,1532,8214,25262
24,Brunei_Darussalam,0.007353,0.010000,1,100,136
25,Bulgaria,0.049088,0.096154,35,364,713
26,Burkina_Faso,0.056818,0.128205,30,234,528
27,Burundi,0.200000,0.500000,1,2,5
28,Cameroon,0.019883,0.048295,17,352,855
29,Cape_Verde,0.090909,0.200000,1,5,11
...,...,...,...,...,...,...
131,Slovakia,0.002395,0.005362,2,373,835
132,Slovenia,0.045902,0.079320,56,706,1220
133,Somalia,0.033333,0.333333,2,6,60
134,South_Africa,0.011180,0.023747,27,1137,2415
135,South_Korea,0.021244,0.025729,225,8745,10591
136,Spain,0.104648,0.208427,18056,86630,172541
137,Sri_Lanka,0.030043,0.058333,7,120,233
138,Sudan,0.156250,0.625000,5,8,32
139,Suriname,0.100000,0.142857,1,7,10
140,Sweden,0.090258,0.211811,1033,4877,11445
141,Switzerland,0.034947,0.063354,900,14206,25753
142,Syria,0.068966,0.181818,2,11,29
143,Taiwan,0.015190,0.022989,6,261,395
144,Thailand,0.016269,0.029232,43,1471,2643
145,Togo,0.038961,0.081081,3,37,77
146,Trinidad_and_Tobago,0.070796,0.114286,8,70,113
147,Tunisia,0.045515,0.097421,34,349,747
148,Turkey,0.021548,0.072019,1403,19481,65111
149,Turks_and_Caicos_islands,0.100000,0.250000,1,4,10
150,Ukraine,0.029063,0.109375,98,896,3372
151,United_Arab_Emirates,0.005676,0.021037,28,1331,4933
152,United_Kingdom,0.128972,0.372397,12107,32511,93873
153,United_Republic_of_Tanzania,0.056604,0.176471,3,17,53
154,United_States_of_America,0.042750,0.113647,26057,229281,609516
155,United_States_Virgin_Islands,0.019608,0.037037,1,27,51
156,Uruguay,0.015009,0.027972,8,286,533
157,Uzbekistan,0.003433,0.014599,4,274,1165
158,Venezuela,0.046632,0.082569,9,109,193
159,Zambia,0.044444,0.080000,2,25,45
160,Zimbabwe,0.176471,0.428571,3,7,17

# Sources
1. https://cmmid.github.io/topics/covid19/severity/global_cfr_estimates.html